<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.pds_api.mapper.GoodsMapper">

<!--    获取商品列表 List<Goods> selectGoodsWithInventory();-->
    <select id="selectGoodsWithInventory" resultType="Goods">
        SELECT
            g.*,
            IFNULL(SUM(o.goods_number), 0) AS sold_quantity,
            g.goods_total_inventory - IFNULL(SUM(o.goods_number), 0) AS remaining_inventory
        FROM
            goods g
                LEFT JOIN
            order_list o ON g.goods_id = o.goods_id
        GROUP BY
            g.goods_id, g.goods_total_inventory;
    </select>

<!--    获取商品列表根据分类id
List<Goods> selectGoodsWithInventoryByClassification(@RequestParam("classificationId")Integer classificationId);
-->
    <select id="selectGoodsWithInventoryByClassification" resultType="Goods">
        SELECT
            g.*,
            IFNULL(SUM(o.goods_number), 0) AS sold_quantity,
            g.goods_total_inventory - IFNULL(SUM(o.goods_number), 0) AS remaining_inventory
        FROM
            goods g
                LEFT JOIN
            order_list o ON g.goods_id = o.goods_id
        WHERE g.goods_classification_id = #{classificationId}
        GROUP BY
            g.goods_id, g.goods_total_inventory
    </select>

<!--  获取产品详情根据id
  Goods selectGoodsWithInventoryById(@RequestParam("goodsId")Integer goodsId);
  -->
    <select id="selectGoodsWithInventoryById" resultType="Goods">
        SELECT g.*,
               IFNULL(SUM(o.goods_number), 0) AS sold_quantity,
               g.goods_total_inventory - IFNULL(SUM(o.goods_number), 0) AS remaining_inventory
        FROM
            goods g
                LEFT JOIN
            order_list o ON g.goods_id = o.goods_id
        WHERE g.goods_id = #{goodsId}
        GROUP BY
            g.goods_id, g.goods_total_inventory
    </select>


<!--    模糊搜索商品
    List<Goods> searchGoods(@RequestParam("goodsName") String goodsName);
-->
    <select id="searchGoods" resultType="Goods">
        SELECT
            g.*,
            IFNULL(SUM(o.goods_number), 0) AS sold_quantity,
            g.goods_total_inventory - IFNULL(SUM(o.goods_number), 0) AS remaining_inventory
        FROM
            goods g
                LEFT JOIN
            order_list o ON g.goods_id = o.goods_id
        WHERE
            g.goods_name LIKE #{goodsName}
        GROUP BY
            g.goods_id, g.goods_total_inventory;
    </select>


</mapper>